.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/polychat.iml
.idea/vcs.xml
.idea/workspace.xml
users.db
test_auth_service.py
test.py
run_note
